@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&display=swap');

.developer-journey-box {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}

.experience-description {
    color: white;
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    text-align: justify;
}

.experience-description-year {
    margin-right: 2rem;
    text-align:center;
}

.experience-description-job {
    margin-left: 1rem;
}

.experience-description-job h4 {
    font-style: italic;
}

