.navbar {
    background-color: #0B0C0C;
    display: flex;
    justify-content: space-around;
    
}

.logo-navbar{
    font-size: 2rem;
    color: white;
}

.logo-navbar-img{
    padding: 1rem;

}

.links-navbar {
    font-size: 2rem;
    color: white;

}

.link-item {
    padding: 1rem;
}