@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&display=swap');

.personal-description-box {
    background-color: #0B0C0C;
    height: 90vh;
    display: flex;
}

.personal-description-resume {
    width: 70vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-description-resume h1 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 6rem;
}

.personal-description-resume p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem;
}

.personal-description-projects {
    width: 30vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.personal-description-projects h3 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.personal-description-projects ul {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem;
    list-style: none;

}

.personal-description-projects li {
    padding-bottom: 1rem;
}