@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


.skills-box {
    display: flex;
    background-color: white;
    color : black;
    margin-top: 1rem;
    border-radius:5px;  
    font-family: 'Kdam Thmor Pro', sans-serif;

}

.skills-front-end {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;

}

.skills-back-end {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.skill-icon {
    font-size: 2.5rem;
    padding: 1rem;
}

.skill-title {
    margin: 0.5rem;
}

.skill-icon-html:hover {
    color: #E34C26;
    font-size: 2.6rem;
    transition: 400ms;
}

.skill-icon-react:hover {
    color: #61DBFB;
    font-size: 2.6rem;
    transition: 400ms;
}

.skill-icon-npm:hover {
    color: #CC3534;
    font-size: 2.6rem;
    transition: 400ms;
}

.skill-icon-java:hover {
    color: #5382a1;
    font-size: 2.6rem;
    transition: 400ms;
}

/*
    JAVA #5382a1
    MYSQL #00758F
    Spring #8BC34A
 */